@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #282d35;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
